body{
  inset: 0;
}
.form{
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #ffcc00 0%, #f49292 50%, #ff6633 100%);
}
.inside{
  display: flex;
  flex-direction: column;
  gap: 9px;
  backdrop-filter: blur(4px);
  border: 1px solid black;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px white;
}

input{
  border-radius: 10px;
  border: none;
}